@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

.error {
  color: red;
  background: lightgray;
  font-size: 20px;
  border: 2px solid;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
}

.success {
  color: green;
  background-color: lightgray;
  border: 2px solid;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 12px;
}